/*Universal Styles*/

:root {
    /*Colors*/

    --color1: #ffffff;
    --color2: #cccccc;
    --color3: #666666;
    --color4: #333333;
    --color5: #000000;
    --modalBackgrounTransparency: rgba(0, 0, 0, 0.4);

    /*Fonts*/
    --large: 24px;
    --medium: 20px;
    ---small: 16px;
}

div {
    padding: 20px;
    border-radius: 5px;
    background-color: var(--color2);
    margin: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color5);
}

main {
    text-align: center;
}

form label,
form textarea, form input {
    display: block;
    margin: 10px 0;
}

/*Cards Style*/

.card-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 3 columns, responsive */
    gap: 10px; /* Spacing between grid items */
}

.grid-item {
    background-color: var(--color2);
    padding: 10px;
    border: 1px solid var(--color2);
}

/*Modal Style*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modalBackgrounTransparency);
}

.modal-content {
    background-color: var(--color1);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid var(--color3);
    width: 70%;
    max-width: 500px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
}

.modal h2 {
    margin-top: 0;
}