/*Universal Styles*/

:root {
    /*Colors*/

    --color1: #ffffff;
    --color2: #cccccc;
    --color3: #666666;
    --color4: #333333;
    --color5: #000000;

    /*Fonts*/
    --large: 24px;
    --medium: 20px;
    ---small: 16px;
  }

html {
    margin: 0;
}

div {
    padding: 20px;
    border-radius: 5px;
    background-color: var(--color2);
    margin: 10px;
}